:root {
  --primary-bg-color: #ddf0e1;
  --navbar-bg-color: #9cd4d4;
  --brand-name-font-family: 'Gloria Hallelujah', cursive;
  --text-bubble-font-family: 'Permanent Marker', cursive;
  --discount-alert: #721c24;
  --articles-color: #F3F8F2;
}
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: var(--primary-bg-color) !important; */
  background-color: var(--primary-bg-color) !important;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  /* scroll-behavior: smooth; */
}

/* Cursor Animations*/
.pointer{
  position:absolute;
  width: 490px;
  height:300px;
background-image: url("https://freesvg.org/img/airplane-drawn.png");
  transform: scale(.3) translate(-100%,-120%);
  box-sizing: border-box;
  pointer-events: none;
  transition:.2s;
}
.pointer1{
  transition:0.05s;
}
.pointer2{
  transition:0.11s;
}
.pointer3{
  transition:0.17s;
}
.pointer4{ 
  transition:0.23s;
}
.pointer5{
  transition:0.29s;
}

.img-shelf {
  position: absolute;
  top: 85vh;
  left: 0rem;
  width: 25%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.img-bee {
  position: relative;
  right: 1.5%;
  width: 15%;
}

.navbar {
  background-color: var(--navbar-bg-color) !important;
  display: flex !important;
  justify-content: space-between !important;
  font-size: 1.5rem !important;
  box-shadow: 0 2px 2px rgb(0 0 0 / 22%);
}

.navbar-brand, .navbar-light {
  color: #fff !important;
  font-family: var(--brand-name-font-family);
  font-size: 1.5rem !important;
}


.navbar-login {
  display:flex;
  flex-direction: row !important;
  justify-content: center;
  border-radius: 3px;
  text-align: center;
}

.navbar-login input {
  width: 10rem;
  margin: 0 .1rem;
  padding: 0 .3rem;
  border: none;
  border-radius: .3rem;
}

.navbar-login button {
  border: 1px solid var(--primary-bg-color);
  color: rgba(0,0,0,.5);
  margin-left: .2rem;
  width: 10rem;
  border-radius: .3rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: var(--navbar-bg-color);
}

.navbar-login button:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,1), 0 1px 2px rgba(0,0,0,1);
}

@media screen and (max-width: 700px) {
  .navbar-login input {
    width: 5.5rem;
    margin: 0 .1rem;
    padding: 0 .3rem;
    border: none;
    border-radius: .3rem;
  }
  
  .navbar-login button {
    border: none;
    width: 5rem;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.discount-btn {
  background-color:var(--discount-alert) !important;
  outline: none !important;
  border: none !important;
  margin: 1rem;
}

.text-bubble {
  position:relative;
  top: 100px;
  right: 150px;
  width: 180px;
  padding: 1rem;
  background-color: #fff;
  margin: auto;
  border-radius: 44px 44px 0 44px;
  font-family: var(--text-bubble-font-family);
  font-size: 1.05rem;
  
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.lightTheme {
 background-color: #fff;
 height: 100vh;
 width: 100vw;
}

.darkTheme {
  background-color: #130f0f;
  height: 100vh;
  width: 100vw;
}

.arrow-container {
  position: absolute;
  top: 25%;
  right: 0rem;
  width: 40%;
  font-family: var(--brand-name-font-family);
}

.arrow-container h3 {
  font-size: 4rem !important;
}

.arrow {
  -webkit-transform: scaleX(-1) rotate(90deg);
  transform: scaleX(-1) rotate(90deg);
}

.subscribe-form {
  position: absolute;
  top: 15%;
  left: 0;
  width: 10%;
  height: 31%;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-right: 5px double var(--articles-color) !important;
  border-top: 5px double var(--articles-color) !important;
  border-bottom: 5px double var(--articles-color) !important;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  padding: 1rem;
}


.subscribe-form h3 {
  text-align: center;
   font-family: var(--brand-name-font-family);
}


.subscribe-form input {
  width: 100%;
  position: relative;
  left: 1rem;
  font-size: .8rem;
}

.subscribe-form button {
  position: relative;
  width: 100% !important;
  background-color: var(--navbar-bg-color);
  border: none;
}

.subscribe-form button:hover {
  background-color: rgb(75, 201, 201);
}

@media screen and (max-width: 1500px) {
  .subscribe-form h3, .subscribe-form button {
    font-size: .8rem;
  }
}

.form-label {
  padding-right: 5rem;
}


.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem 2rem;
  grid-template-areas:
  ". ."
  ". .";
  position: relative;
  bottom: 8rem;
  margin: auto;
  font-family: var(--brand-name-font-family);
}

.card{
  border-radius: 30px !important;
}

.card-title {
  font-size: 2rem !important;
}

@media screen and (max-width: 1600px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
    "."
    "."
    "."
    ".";
    width: 100vw;
  }

  .card{
    width: 90vw;
    margin: auto;
  }

  .arrow-container h3 {
    font-size: 3rem !important;
  }

  .text-bubble {
    width: 120px;
    font-size: .8rem;
    right: 100px;
  }
}


